.user-badge-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  position: relative;
  height: 2rem;
  width: 6.5rem;
  z-index: 1;

  li {
    top:0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: absolute;
    height: 100%;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        z-index: #{20 - $i};
        left: #{24 * ($i - 1)}px;
      }
    }
  }

  .user-badge {
    width: 2rem;
    height: 2rem;
    font-weight: 500;

    &:not(#{&}-more) {
      border: solid 0.125rem var(--greystone-100);
    }
  }
}

