.button-with-icon-outcomes {
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  border: .0625rem solid var(--brand-amira-purple, #80089D);
  background: var(--white-0, #FFF);
  box-shadow: 0px -2px 0px 0px rgba(22, 26, 30, 0.10) inset, 0px -2px 0px 0px rgba(85, 85, 97, 0.10) inset, 0px 14px 10px 0px rgba(91, 108, 126, 0.01);

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  &-text {
    color: var(--brand-amira-purple, #80089D);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.125rem;
  }
}