@use "@styles/variables" as *;

.status-card-container {
  display: flex;
  align-items: center;
  min-width: 8.875rem;
}

.status-card {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  min-width: 22.875rem;
  gap: 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  width: 100%;
  letter-spacing: 0.01313rem;
  flex: 1;
  width: 100%;
  border: 1px solid transparent;

  &.status-card--no-graph {
    min-width: unset;
  }

  &.status-card--mini {
    min-width: 11rem;
  }

  .status-card-content {
    display: flex;
    align-items: center;

    .status-dot {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .status-dot {
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .status-text {
    white-space: nowrap;
    display: flex;
    padding: 0.25rem 0.5rem 0.375rem 0rem;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
  }

  .status-dot-container {
    display: flex;
    padding-top: 0.5rem;
  }

  // Below grade level status (undeveloped)
  &.status-card-BELOW_GRADE_LEVEL {
    background-color: $lighter-pink;
    color: $vivid-pink-red;

    .status-dot {
      background: repeating-linear-gradient(
        -45deg,
        #d50100,
        #d50100 0.0625rem,
        #f14668 0.0625rem,
        #f14668 0.25rem
      );
      border: 0.1rem solid #c21f3c;
    }
  }

  // At grade level status (developing)
  &.status-card-AT_GRADE_LEVEL {
    background-color: $light-yellow;
    color: $reddish-orange;

    .status-dot {
      background-color: $orange;
      border: 0.1rem solid $reddish-orange;
    }
  }

  // Ahead of grade level status (mastered)
  &.status-card-AHEAD_OF_GRADE_LEVEL {
    background-color: $amira-light-green;
    color: $amira-dark-green;

    .status-dot {
      background-color: $amira-green;
      border: 0.1rem solid $amira-dark-green;
    }
  }

  // No data status
  &.status-card-NO_DATA {
    background-color: $light-grey;
    color: $dark-grey;

    .status-dot {
      background-color: $greystone-250b;
    }
  }
}

.status-card-text {
  color: var(--Skill-Status-skill-no-data-text, var(--OLD-grey-5, #555));
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mastery-change-graph svg {
  opacity: 0.7;

  path,
  line,
  circle {
    stroke: var(--graph-color);
    fill: var(--graph-color);
    opacity: 0.6;
  }
}
