@use "@styles/variables" as *;

.widget-assess {

  &-body {
    --amira-charcoal: $amira-charcoal;
    --amira-danger: #C11F3C;
    --amira-purple: #80089D;
    gap: 0.25rem;
    position: relative;
  }

  &-soon &-remain-days,
  &-soon &-next-days {
    color: var(--amira-danger);
  }

  &-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    width: 100%;

    > span {
      text-align: center;
      padding: 0.5rem 0.375rem 0.375rem;

      &:not(.widget-assess-next) {
        flex: 1;
      }

      > * {
        display: block;
      }

      em {
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 0.666;
      }

      label {
        font-size: 0.75rem;
        color: var(--amira-charcoal);
        line-height: 1.3;
      }
    }

  }

  &-scheduled {
    border-left: 1px solid #424242;
    padding-left: 0.625rem;
    margin-left: 0.25rem;
  }

  &-action > em{
    color: var(--amira-danger);
  }

  &-remain,
  &-next {
    display: flex;
    align-items: center;

    &-days {
      flex: 0 0 2.0625rem;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 0.8;
      text-align: center;
      min-height: 2.25rem;
      background: transparent url(./../../../images/icons/calendar.svg) no-repeat top center / contain;
      margin-right: 0.375rem;
      padding-top: 1rem;
      overflow: hidden;
    }

    &-label {
      font-size: 0.75rem;
      line-height: 1.33;
      color: var(--amira-charcoal);
      text-align: left;
    }
  }

  &-next {
    justify-content: center;
    align-items: center;
  }

  &-remain{
    position: absolute;
    top: 0.5rem;
    right: 0;

    &-label {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &-next-label {
    flex-basis: 7.8125rem;
  }

  /* When the completed value and upcoming window are shown */
  &-completed &-complete em {
    color: var(--amira-purple);
  }

  &-completed &-complete,
  &-next {
    flex: 0 0 auto !important;
  }

  &-completed &-row {
    align-items: center;
    gap: 2rem;
  }

  &-text {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;

    .period-selection-dropdown {
      width: 100%;
      padding: 0 1rem;
      margin-bottom: 0.5rem;

      .teacherPrimarySelect {
        max-width: unset;
        width: 100%;
      }
    }

  }

}


.days-left-content {
  --border-radius: 0.25rem;
  display: flex;
  color: var(--amira-charcoal);
  background-color: var(--amira-light-purple);
  border-radius: var(--border-radius);
  width: 100%;
  flex-flow: row nowrap;
  padding-right: 0.25rem;

  .next-assessment-window {
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
  }

  &-inner-no-assessment-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 0.25rem;
  }

  &-label {
    flex: 1 1 auto;
    align-self: center;
    color: #393939;
    padding: 0.25rem 0.875rem 0.25rem 0.375rem;
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
    line-height: 1.5rem;
  }

  &-icon {
    flex: 0 0 auto;
    min-width: 3rem;
    font-size: 1.75rem;
    line-height: 1.5;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background-color: rgb(239,214,241);
    text-align: center;
    font-weight: 600;
  }
}

.retry {
  background: none;
  border: none;
  color: var(--brand-amira-dark-purple, #4D055E);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.data-failed-text {
  color: var(--brand-amira-charcoal, #262626);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
}

.calendar-icon-button {
  display: flex;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  border: 1px solid var(--brand-amira-purple, #80089D);
  background: var(--white-0, #FFF);
  box-shadow: 0px -2px 0px 0px rgba(22, 26, 30, 0.10) inset, 0px -2px 0px 0px rgba(85, 85, 97, 0.10) inset, 0px 14px 10px 0px rgba(91, 108, 126, 0.01);
  cursor: pointer;
  z-index: 1000;
}

.calendar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.schedule-body {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1;
  align-self: stretch;
  border-radius: 0.625rem;
  background: linear-gradient(0deg, #FDF7FF 0%, #FDF7FF 100%), var(--greystone-100, #F9FAFB);
}

.schedule-icon-button {
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--button-btn-radius, 6.25rem);
  border: 1px solid var(--brand-amira-purple, #80089D);
  background: var(--white-0, #FFF);
  box-shadow: 0px -2px 0px 0px rgba(22, 26, 30, 0.10) inset, 0px -2px 0px 0px rgba(85, 85, 97, 0.10) inset, 0px 14px 10px 0px rgba(91, 108, 126, 0.01);
}

.schedule-body-text {
  color: var(--brand-amira-purple, #80089D);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125rem;
}

.assess-status-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--brand-amira-charcoal, #262626);

  &-inner {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 0.0625rem;
    background: linear-gradient(0deg, #FDF7FF 0%, #FDF7FF 100%), var(--greystone-100, #F9FAFB);
  }
}

// .outcomes-graph-container {
//   min-height: 18.25rem;
// }