---
import GenericPageLayout from '@layouts/generic.astro';
---
<GenericPageLayout title="Generic landing page layout">
    <section id="banner" class="style2">
        <div class="inner">
            <img src="images/Usborne_Guide_Better_Basic.jpg" alt="Usborne Guide to Better Basic cover page" />
            <header class="major">
                <h1>Where it all started</h1>
            </header>
            <div class="content">
                <p>Starting at 8 years old, my dad had this great idea to have some "use" for the new Commodore 64/128 he had just bought. Like most kids of my generation there was something warm and appealing about that blue screen with light blue text which inspired us to sit down in front of it and just beginning typing things. We started by learning BASIC using one of the eponymous Usbourne programming guides with their cheesy robot cartoons and simplistic procedures on scaled learning. To this day, I cannot think of a better hobby to have learned alongside my father.</p>
            </div>
        </div>
    </section>

	<!-- Main -->
    <main id="main" class="page">
        <section class="container">
            <article class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Thus it continues...</h3>
                    </header>
                    <p>I’ve been exploring the web since high school in 1994, when I joined a Department of Defense Dependents Schools initiative called the World Band Project. Its goal was to connect DoD schools worldwide through the internet to create a collaborative computer music performance for Vice President Al Gore. The project also included sister efforts like the Wright Flyer, and it introduced us to then-cutting-edge technology: webcams via CU-SeeMe, e-mail, and the early World Wide Web. We even had an SGI Indigo on-site — state-of-the-art and blisteringly expensive at the time.</p>
                    <p>In college (1996–2000), my university still treated internet access like a secret commodity. I can vividly remember dialing in to the UNIX mainframe, using lynx to browse the web, gopher for… well, something, and pine for e-mail. What I didn’t realize then was how formative that terminal-based experience would be. It taught me to look under the hood, to avoid the trap of relying blindly on GUIs, and to appreciate how computers actually work.</p>
                    <p>Since then, every role I’ve held has involved some blend of programming and network administration, always orbiting around the web. I’ve stayed active with *NIX systems, constantly refining my understanding of how to configure and maintain web servers—databases, PHP, and HTML included.</p>
                </div>
            </div>
        </section>
    </main>
</GenericPageLayout>
