---
import '/css/font-awesome.min.css?url';
import '../styles/main.scss';
---
<html>
	<head>
		<title>Jonathan Siler - Web Technology Zen Master</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Jonathan Siler</strong> <span>Web Technology Zen Master</span></a>
					</header>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hi, my name is Jonathan.</h1>
							</header>
							<div class="content">
								<p>I work on websites and fix broken JavaScript and PHP.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Project Management</h3>
										<p>Managing complex web projects with small frisky teams.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Javascript</h3>
										<p>Been fiddlin' since ECMAScript since v2</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3>PHP</h3>
										<p>OOPer and MVCer. Enjoy developing in CMS frameworks</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3>CSS</h3>
										<p>Old school CSS lover, recovering table layout developer</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Design</h3>
										<p>Design? Yeah, I've done some of that, too.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Other</h3>
										<p>Project planning, scoping, estimating and troubleshooting; if it's on the web I can probably figure it out.</p>
									</header>
								</article>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/jonjonsiler" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://facebook.com/jonjonsiler" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://github.com/jonjonsiler" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://linked.in/jonjonsiler" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Jonathan Siler</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js" is:inline></script>
			<script src="/js/jquery.scrolly.min.js" is:inline></script>
			<script src="/js/jquery.scrollex.min.js" is:inline></script>
			<script src="/js/skel.min.js" is:inline></script>
			<script src="/js/util.js" is:inline></script>
			<script src="/js/main.js" is:inline></script>

	</body>
</html>
