---
import HomePageLayout from '@layouts/home.astro';
import { Tiles } from '@components/tiles';

const response = await fetch('http://localhost:4321/api/features.json');
const features = await response.json() as Array<{
  title: string;
  subtitle: string;
  detail?: string;
  image: string;
}>;
---
<Fragment slot="head">
	{features.map(({image}) => <link rel="preload" href={image} as="image" /> )}
</Fragment>

<HomePageLayout title="Home">
	<section id="one" class="tiles">
		<Tiles features={features} client:load />
	</section>
</HomePageLayout>