---
import HomePageLayout from '@layouts/home.astro';
import { Tiles } from '@components/tiles';

const apiURL = import.meta.env.API_BASE_URL;
const response = await fetch(`${apiURL}/api/features.json`);
const features = await response.json() as Array<{
  title: string;
  subtitle: string;
  detail?: string;
  image: string;
}>;
---
<Fragment slot="head">
	{features.map(({image}) => <link rel="preload" href={image} as="image" /> )}
</Fragment>

<HomePageLayout title="Home">
	<section id="one" class="tiles">
		<Tiles features={features} client:load />
	</section>
</HomePageLayout>