---
import HomePageLayout from '@layouts/home.astro';
---
<HomePageLayout title="Home">
	<section id="one" class="tiles">
		<article>
			<span class="image">
				<img src="images/pic01.jpg" alt="" />
			</span>
			<header class="major">
				<h3>Project Management</h3>
				<p>Managing complex web projects with small frisky teams.</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="images/pic02.jpg" alt="" />
			</span>
			<header class="major">
				<h3>Javascript</h3>
				<p>Been fiddlin' since ECMAScript since v2</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="images/pic03.jpg" alt="" />
			</span>
			<header class="major">
				<h3>PHP</h3>
				<p>OOPer and MVCer. Enjoy developing in CMS frameworks</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="images/pic04.jpg" alt="" />
			</span>
			<header class="major">
				<h3>CSS</h3>
				<p>Old school CSS lover, recovering table layout developer</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="images/pic05.jpg" alt="" />
			</span>
			<header class="major">
				<h3>Design</h3>
				<p>Design? Yeah, I've done some of that, too.</p>
			</header>
		</article>
		<article>
			<span class="image">
				<img src="images/pic06.jpg" alt="" />
			</span>
			<header class="major">
				<h3>Other</h3>
				<p>Project planning, scoping, estimating and troubleshooting; if it's on the web I can probably figure it out.</p>
			</header>
		</article>
	</section>
</LandingPageLayout>
