---
import GenericPageLayout from '@layouts/generic.astro';
import type { Post as TPost} from '@components/post'; 
import Post from '@components/post';

const apiURL = import.meta.env.API_BASE_URL;
const response = await fetch(`${apiURL}/api/posts.json`);
const posts = await response.json() as TPost[];
---
<GenericPageLayout title="Blog Posts">
  <main id="main" class="page">
    <section class="container">
      <h1 class="text-3xl font-bold mb-8 text-center">Microjournal</h1>
      {posts.map((post) => (
        <Post post={post} client:load />
      ))}
    </section>
  </main>
</GenericPageLayout>