@use "@styles/variables" as *;

.loadingContainer{
  line-height: 100%;
  text-align: center;

  &.fill{
    width: 100%;
    height: 100%;
  }

  &.inline{
    display: inline;
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 6.8vw;
    height: auto;
    top: calc(50% - 32px);

    &.auto-fit{
      height: 100%;
      top: auto;
    }
  }
  .lds-ellipsis div {
    position: absolute;
    top: 35%;
    width: 1.4vh;
    height: 1.4vh;
    border-radius: 50%;
    background: $amira-gray;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: calc(1.33vh + 1.33vw / 2);
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: calc(1.5vh + 1.5vw / 2);
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: calc(3vh + 3vw / 2);
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: calc(4.5vh + 4.5vw / 2);
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(calc(1.5vh + 1.5vw / 2), 0);
    }
  }
}