<header id="header" class="alt">
  <a href="index.html" class="logo"><strong>Jonathan Siler</strong> <span>Web Technology Zen Master</span></a>
<!--
  <nav>
    <a href="#menu">Menu</a>
  </nav>
-->
</header>