---
import Meta from './head-meta.astro';

const { title } = Astro.props;
---
<title>Jonathan Siler - Web Technology Zen Master - {title}</title>
<Meta />
<link rel="stylesheet" href="/css/font-awesome.min.css" />