@use 'sass:color';
@use "@styles/variables" as *;

.widget {
  --bs-white: #FFFFFF;
  --amira-purple: #6C63FF;
  &-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    height: auto;
    width: 100%;
  }

  &-header {
    --amira-brand-success-field: #00CA72; // lighten($report-success, 30%);
    --amira-brand-warn-field: #{lighten($report-warn, 20%)};
    --amira-brand-danger-field: #{lighten($report-danger, 40%)};
    --amira-brand-none-field: #B8C1CC;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 1;
    background: var(--bs-white);
    width: 100%;

    &-collapser {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0.2725rem;
      background: none;
      border: none;
      width: 100%;
      min-height: 3.5rem;
    }

    &-brand {
      width: auto;
      height: 100%;
    }
    
    h3 {
      font-size: 1.125rem;
      line-height: 1.33;
      font-weight: 700;
      margin: 0;
      margin-right: auto;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 25rem;
    }

    &-options {
      background: none;
      border: none;
      width: 2.5rem;
      height: 100%;
      margin-right: 0.5rem;
      padding: 0;
      min-height: 3.5rem;

      &-icon {
        width: 1.5rem;
        aspect-ratio: 1;
        margin-left: 1rem;
      }
    }
    &-alert-btn {
      background: none;
      border: none;
      position: absolute;
      top: 0.65rem;
      right: 0;
      padding: 0;
    }
  }
  &-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0 0.5rem;
    overflow: hidden;
    img {
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &-status {
    border-radius: 99px;
    &.widget-icon::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem 1rem;
    }
    &-none {
      background-color: var(--amira-brand-none-field);
    }
    &-offline {
      background-color: white;
      &::before {
        background-image: url(./../../../images/icons/status-offline.svg);
        background-size: 1.25rem 1.25rem;
      }
    }
    &-warning {
      background-color: var(--amira-brand-warn-field);
      &::before {
        background-image: url(./../../../images/icons/status-warn.svg);
        background-size: 0.375rem 1.125rem;
      }
    }
    &-danger {
      background-color: var(--amira-brand-danger-field);
      &::before {
        background-image: url(./../../../images/icons/status-danger.svg);
      }
    }
    &-success {
      background-color: var(--amira-brand-success-field);
      &::before {
        background-image: url(./../../../images/icons/status-success.svg);
      }
    }
  }


  &-footer {
    padding: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-placeholder {
    filter: blur(2px) saturate(0.2);
  }

  &-divider {
    display: block;
    height: 1px;
    background-color: #f2e6f5;
    margin: 0px 1.625rem 0 0.75rem;
    margin-bottom: 0.375rem;
    border-top-color: #f2e6f5;
    opacity: 1;
  }

  &-wrapper {
    .btn-link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.75rem;
      border-radius: 0;
      background-color: transparent;
      color: var(--amira-purple);
      text-decoration: none;
      font-weight: 600;
      line-height: 1.125rem;
      gap: 0.5rem;

      .icon {
        width: 1.5rem;
        min-height: 1.8rem;
      }
    }

    .chart-button {
      z-index: 100;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: none;
      border: none;
      padding: 0;
      display: block;
      width: 2rem;
      height: 1.5rem;
      cursor: pointer;

      .chart-icon {
        width: 100%;
        height: auto;
        max-height: 100%;
      }

    }
  }
}
