---
import HeadBase from '@partials/head-base.astro';
import Header from '@components/header.astro';
import NavigationMenu from '@components/navigation.astro';
import Footer from '@components/footer.astro';

import JqueryPlusImports from '@partials/jquery-plus.astro';
import AppImports from '@partials/app.astro';

import '/src/styles/main.scss';

const { title } = Astro.props;
---
<html>
	<head>
		<HeadBase title={title}/>
	</head>
	<body>
    <div id="wrapper">
      <Header />
	    <NavigationMenu />
      <slot />
      <Footer />
    </div>
		<JqueryPlusImports />
		<AppImports />
	</body>
</html>