.lesson-plan-auto-fix {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__description {
    text-align: center;
    padding: 16px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding-bottom: 1rem;
  }

  &__action-button {
    color: #80089d;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}